* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.container {
  width: 100vw;
  height: 85px;

  display: flex;

  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.fa-bars {
  font-size: 32px;
}
.navbox {
  width: 180px;
  height: 100%;

  padding: 8px 18px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.fa-circle {
  color: blue;
}
.navbar-content {
  display: flex;
  align-items: baseline;
  text-align: center;
  color: #ffffff;
  gap: 10px;
}
.cover-img {
  width: 100vw;
  height: 100vh;
  background-image: url(" https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(9, 24, 45, 0.4);
  background-image: linear-gradient(
      180deg,
      rgba(9, 8, 8, 0.5),
      rgba(0, 0, 0, 1) 85%
    ),
    url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg");
}
/* uk-container */
.uk-container {
  width: 60%;
  height: 50%;

  margin: auto;
  margin-top: 80px;
  display: flex;
  gap: 50px;
}
.uk-cover {
  width: 40%;
  height: 100%;

  background-position: center;
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/db1de093db8bbeae103383001a8273bd.jpg");
  background-size: cover;
}
.uk-width-large {
  width: 50%;
  height: 100%;
}
.category {
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
h1 {
  font-size: 3.6rem;
  line-height: 4.3rem;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}
.uk- {
  font-size: 1.44rem;
  line-height: 2.4rem;
  color: #0078f6;
}
.uk-img {
  border-radius: 50%;
}
.uk-profile {
  display: flex;
  gap: 10px;
}
.profile-text {
  color: aliceblue;
}
.center_box {
  width: 60%;
  height: 85px;

  margin: auto;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_1 {
  color: #ffffff;
  font-size: 1.62rem;
}
.title_2 {
  width: 52px;
  height: 27px;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  gap: 10px;
}
.fa-chevron-left {
  color: #fff;
}
.fa-chevron-right {
  color: #fff;
}
.hero-content {
  width: 80%;
  height: 435px;

  margin: auto;
  display: flex;
  gap: 30px;
  position: relative;
  top: -230px;
}
.item_1 {
  width: 20%;
  height: 434px;
  border-radius: 20px;
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/6c7379f6a279651cc886c07f98086bbc.jpg");
  background-position: center;
  background-size: cover;
  transition: all ease-in 0.5s;
}
.blue-dot {
  display: flex;
  gap: 80%;
  padding-top: 10px;
  padding-left: 10px;
}
.item_2 {
  margin-top: 70%;
  padding: 10px;
}
.item_2_text {
  font-size: 23px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blue-button {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  color: #fff;

  border: none;
}
.item_1:hover {
  transform: scale(1.05);
}
.profiles {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 270px;
  padding: 10px;
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.profile-left {
  width: 65%;

  background-color: aqua;
  margin: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.p_content_left {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.context {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile_text {
  width: 488px;
}
.img_left {
  height: 135px;
  width: 135px;
  background-image: url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/12e9783329d71a9f343d203c052e4d98.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}
.img_right {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/ceeea287bfedd20b61f06a236854b5ac.jpg");
  background-size: cover;
  background-position: center;
}
.picture_left {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url("https://unread.today/files/profile/f14a217d09d0d74f3824c3aa80eba6a5.JPG");
  background-size: cover;
}
.picture_right {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url("https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg");
  background-size: cover;
}
.author_left {
  display: flex;
  padding: 10px;
  background-color: whitesmoke;
}

.profile-right {
  align-self: flex-end;
  width: 65%;
  background-color: aqua;
  margin: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.author_right {
  display: flex;
  padding: 10px;
  background-color: whitesmoke;
  flex-direction: row-reverse;
  text-align: right;
}
.category_1 span {
  color: #0078f6;
  font-size: 16px;
}
.headline {
  font-size: 24px;
  padding-top: 10px;
}
.grid_carts {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 50px;
}
.grid_hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.grid_hero span {
  font-size: 18px;
}
.item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(50px);
}
.grid_content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 200px 50px;
  gap: 20px;
  margin-top: 50px;
  height: 100%;
}
.item_box1 {
  grid-row: 1 / 2 span;
  grid-column: 1 /2 span;
  width: 100%;
  height: 100%;
  background-image: url("https://unread.today/files/44/fb22ab394a1b1ed66b2cf9839bdf4f2a.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item_box4 {
  grid-row: 2 span;
  width: 100%;
  height: 100%;
  background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10.jpg);
  background-position: center;
  background-size: cover;
}
.item_box5 {
  grid-row: 2 span;
  width: 100%;
  height: 100%;
  background-image: url(https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/c29553e2c13aca48bfdb0698ddf6dba8_progressive.jpg);
  background-position: center;
  background-size: cover;
}
.item_box6 {
  background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/78832a07283174d05b2b836379c87c1f.png");
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.item_box2 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/15b480dde130301ccfcb83cc83796577.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.item_box3 {
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/f214ecbbae9edfd49dbab990e70348c6.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.item_box7 {
  background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/ce50547f57ca26f5e8bacba081e90f69.jpg);
  background-size: cover;
  background-position: center;
}
.grid_content2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 200px 50px;
  gap: 20px;
  margin-top: 50px;
  height: 100%;
}
.item_content {
  /* background-color: #0078f6; */
  backdrop-filter: blur(40px);
  padding: 20px;
}
